body
{
	background-color:#222222;	
	font-family:Verdana;
	padding:2%;
}

#boxContent
{
	background-color:#cccccc;	
	padding-top:10px;
	padding-bottom:10px;
}

#boxHeader
{
	background-color:#ff5f38;
	border-top-left-radius:20px;
	border-top-right-radius:20px;	
	color:#ffffff;
	height:50px;
	padding:1%;
}
#boxHeader div
{
	float:left;
}
#titleSelected
{
	width:15%;	
}
#descSelected
{
	width:60%;	
}
#boxMenu img
{
	cursor:pointer;
	height:50px;
	width:50px;
}
#page
{
	padding:1%;
	width:98%;
}

.boxImg
{
	margin-left:2%;
	width:30%;
}

.boxImg img
{
	border-radius:20px;
	background: url(../image/loading.gif) 50% no-repeat;
    background-position: 30% 20%; 
	width:90%;
}

.boxDetailRight
{
	margin-left:2%;
	width:65%;
}

.boxMini
{
	background-color:#FFFFFF;
	border-radius:20px;
	cursor:pointer;
	height:100px;
	padding-bottom:10px;
	padding-top:10px;
	margin-left:10%;
	margin-bottom:10px;
	display:none;
	width:80%;
}

.boxMini div
{
	float:left;
	height:100%;
}

.boxImgThumb
{
	width:20%;
}

.boxTitle
{
	color:#AAAAAA;
	width:80%;
}

.boxDetail
{
	background-color:#FFFFFF;
	border-radius:20px;
	height:320px;
	padding-bottom:10px;
	padding-top:10px;
	margin-left:10%;
	margin-bottom:10px;
	display:none;
	width:80%;
}

.boxDetail div
{
	float:left;
}


.simulateImg
{
	border-radius:50px;
	background-color:#222222;
	height:50%;
	margin-left:20%;
	width:50%;
}
.textHeader
{
	display:none;
	margin-top:12px;
}
