body
{
	padding:0px;
}

.boxMini,.boxDetail
{
	margin-left:5%;
	width:90%;
}
.boxDetail
{
	height:150px;
}
.boxDescription
{
	font-size:12px;
}
.boxTitle
{
	font-size:14px;
	margin-left:2%;
	width:70%;
}
.boxDetailRight .boxTitle
{
	width:100%;
}
.textHeader{
	font-size:12px;
}
.simulateImg
{
	height:60px!important;
	width:70%;
}
